@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')
/*
.montserrat-<uniquifier> {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  .anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: pink;
    background-image: url("assets/oeuvre/pexels-caleb-oquendo-3018073.jpg");
}

header img {
    width: 10rem;
    padding: 1rem;
}

h1 {
    display: none;
}

button {
    width: 30px;
    height: 30px;
    padding: 0;
    border: 2px transparent solid;
    background-color: transparent;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;

}

.container {
    height: 570px;
    width: 325px;
    overflow-y: scroll;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(3rem);
    scroll-snap-type: y mandatory;
    position: relative;
    left: 510px;
    top: 50px;
    z-index: 1;
    border-radius: 15px;
    border: none;
}

.backgroundImage {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    scroll-snap-align: start;
}

.sectionFooter {

    position: fixed;
    inset: auto 0 0 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Montserrat", "sans-serif";
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

.buttonImg {
    width: 25px;
    display: flex;
    text-align: center;
}

#background1 {
    background-image: url("assets/oeuvre/free-photo-of-lunettes-de-soleil-art-creatif-festival.jpeg");
    background-position: center;
}

.navP {
    text-shadow: 1px 1px 2px #262626;
}